@import 'src/styles.scss';

.find-pool {
  background: #E3EEF5;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.47);
  padding: 20px 0;

  .btn-search {
    background: $primary-color;
    color: #fff;
    border-radius: 6px;
    padding: 5px 22px;
    margin-right: 6px;
    border: 1px solid $primary-color;
  }

  .btn-clear {
    background: transparent;
    border: 1px solid $primary-color;
    border-radius: 6px;
    padding: 5px 30px;
  }

  .form-group {
    position: relative;

    i {
      position: absolute;
      right: 8px;
      top: 8px;
      color: #AFAFAF;
    }
  }
}

.pools-num {
  color: #656565;
  float: right;
  padding-top: 10px;
  font-style: italic;
  font-weight: bold;
}
