<h4 class="mb-4 pt-5">Find your pool</h4>
  <form action="" class="find-pool">
    <div class="row mx-0">
      <div class="col-lg-3">
        <div class="form-group mb-0">
          <input type="text" name="" id="" class="form-control fs-12" placeholder="Search" aria-describedby="helpId">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group mb-0">
          <input type="date" name="" id="" class="form-control fs-12" placeholder="Date" aria-describedby="helpId">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group mb-0">
          <input type="time" name="" id="" class="form-control fs-12" placeholder="Time" aria-describedby="helpId">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group mb-0">
          <input type="text" name="" id="" class="form-control fs-12" placeholder="Filter" aria-describedby="helpId">
          <i class="fa fa-filter"></i>
        </div>
      </div>
      <div class="col-lg-3">
        <button type="button" class="btn btn-search">Search</button>
        <button type="button" class="btn btn-clear">Clear</button>
      </div>
    </div>
  </form>
