@import 'src/styles.scss';

.warning-modal {
  .modal-dialog {
    margin-top: 115px;

    .modal-header {
      border: 0;

      i {
        position: absolute;
        top: -14%;
        left: 45%;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0px 13px;
        border: 5px solid #efc339;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
        color: #efc339;
      }
    }

    .modal-body {
      h5 {
        letter-spacing: 2px;
        color: $black-text;
      }

      p {
        color: $gray-text;
      }
    }

    .modal-footer {
      justify-content: space-between;
      padding: 0;
      margin: 0;
      border: 0;
      flex-wrap: nowrap;

      .btn-secondary {
        background: #ddd;
        border-color: #ddd;
        width: 50%;
        border-radius: 0;
        padding: 10px 0;
        color: #333;
      }

      .btn-primary {
        background: #efc339;
        border-color: #efc339;
        border-radius: 0;
        width: 50%;
        padding: 10px 0;
        color: #333;
      }
    }

    .modal-footer>* {
      margin: 0;
    }
  }
}

.success-modal {
  .modal-dialog {
    margin-top: 115px;

    .modal-header {
      border: 0;

      i {
        position: absolute;
        top: -14%;
        left: 45%;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0px 13px;
        border: 5px solid #72e88f;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
        color: #72e88f;
      }
    }

    .modal-body {
      h5 {
        letter-spacing: 2px;
        color: $black-text;
      }

      p {
        color: $gray-text;
      }
    }

    .modal-footer {
      justify-content: space-between;
      padding: 0;
      margin: 0;
      border: 0;
      flex-wrap: nowrap;

      .btn-secondary {
        background: #ddd;
        border-color: #ddd;
        width: 50%;
        border-radius: 0;
        padding: 10px 0;
        color: #333;
      }

      .btn-primary {
        background: #72e88f;
        border-color: #72e88f;
        border-radius: 0;
        width: 50%;
        padding: 10px 0;
        color: #333;
      }
    }

    .modal-footer>* {
      margin: 0;
    }
  }
}
