<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
  Launch
</button>

<!-- Modal -->
<div class="modal fade warning-modal" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
 aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-warning"></i>
        <!-- <i class="fa fa-check"></i> -->
      </div>
      <div class="modal-body text-center p-4 px-5">
        <h5 class="font-weight-bold fs-24">Are you sure?</h5>
        <p class="fs-14">If you proceed, you will lose your data.
          Are you sure you want to delete?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
