<!-- <div class="pools-view pt-5">
    <button (click)='isListView=false'><i class="fa fa-th pr-2" [ngClass]="isListView ? '' : 'active-view'"></i></button>
    <button (click)='isListView=true'><i class="fa fa-th-list" [ngClass]="isListView ? 'active-view' : ''"></i></button>
</div> -->

<!-- <div class="pools-view pt-5">
    <button (click)='isListView=false'><i class="fa fa-th pr-2" [ngClass]="isListView ? '' : 'active-view'"></i></button>
    <button (click)='isListView=true'><i class="fa fa-th-list" [ngClass]="isListView ? 'active-view' : ''"></i></button>
</div> -->