<!-- <div class="container mt-5 mb-5"> -->
	<!-- <div class="row"> -->

        <!-- Upload -->
		<!-- <div class="col-md-12" > -->
			<!-- <div class="form-group"> -->
				<!-- <div class="row"> -->
					<div  class="form-group mb-0">
            <label for="" class="fs-14">Upload additional photos:</label>
            <p class="fs-12">Add up to 9 additional photos</p>
						<span class="hidden-file">
                <input  type="file" #fileInput ng2FileSelect accept=".jpeg,.jpg,.png" [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />
            </span>
            <div class="d-flex align-items-start">
              <div  class="btn-group" (click)="fileInput.click()">
                <!-- <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
                    <i class="ion-plus-round"></i>
                </button> -->
                <button type="button" class="additional-upload">
                    <i class="fa fa-plus"></i>
                </button>
              </div>
              <table class="table image-upload-table mb-0 ml-3" [hidden]='uploader.queue.length === 0'>
                <!-- <thead>
                  <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Actions</th>
                  </tr>
                </thead> -->
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td>
                      {{ item?.file?.name }}
                    </td>
                    <!-- <td>
                      {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                    </td> -->
                    <td>
                      <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                          <span class="fa fa-close"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
					</div>
				<!-- </div> -->
			<!-- </div> -->
        <!-- </div> -->

        <!-- Table -->
		<!-- <div [hidden]='uploader.queue.length === 0' class="col-md-9 mt-5"> -->

        <!-- </div> -->

	<!-- </div> -->
<!-- </div> -->
