<!-- Error Page -->
<div class="error-404">
    <div class="row mx-0">
      <div class="col-lg-6 col-12">
        <div class="overlay-bg">
            <img src="assets/images/login-bg.jpg" alt="" class="img-fluid w-100">
          </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="error-content">
          <img src="assets/images/funzoon1.png" alt="" class="d-block mx-auto">
          <h1 class="text-center my-4">ERROR <span>404</span></h1>
          <p class="mx-auto w-75 fs-20">It's looking like you may have taken a wrong turn.
          Don't worry... It happens to the best of us.</p>
          <div class="home-link">
            <a class="btn" (click)='redirectToHome()'>HOME</a>
          </div>
          <div class="social-media text-center pt-4">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  